    .App-header {
    text-align: center;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color:black;
  }


    .App-username {
    top: 30px;
    left: 675px;
    }

    .App-password {
    top: 100px;
    left: 465px;
    }
    .App-logginButton {
      display: flex;
      position: relative;
      padding: 10px 85px;
      margin-left: 675px ;
      margin-top: 110px;
    }

    .App-createAccButton {
      padding: 10px 79px;
      display: flex;
      margin-left: 675px ;
      margin-top: 10px;
      
    }

    .Register-createAccButton {
      display: flex;
      position: relative;
      padding: 10px 81px;
      margin-left: 675px ;
      margin-top: 110px;
    }

    .Register-backButton {
      padding: 10px 89px;
      display: flex;
      margin-left: 675px ;
      margin-top: 10px;
    }

    .container {
      position: relative;
    }

   

    

    


  
  
