    .App-header {
    text-align: center;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color:black;
  }


    .App-username {
    top: 30px;
    left: 675px;
    }

    .App-password {
    top: 100px;
    left: 465px;
    }
    .App-logginButton {
      top: 170px;
      left: 255px;
    }

    .App-createAccButton {
      top: 170px;
      left: 289px;
      
    }

    .Register-createAccButton {
      top: 170px;
      left: 255px;
    }

    .Register-backButton {
      top: 170px;
      left: 306px;
    }

    .container {
      position: relative;
    }

    .custom-calendar {
      position: 'relative';
      width: 300px;
      height: 320px;
      left: 500px;
      top: 50px;
    }

   

    

    


  
  
