    .App-header {
    text-align: center;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color:black;
  }


    .App-username {
    top: 30px;
    left: 675px;
    }

    .App-password {
    top: 100px;
    left: 465px;
    }
    .App-logginButton {
      display: flex;
      position: relative;
      padding: 10px 85px;
      margin-left: 675px ;
      margin-top: 110px;
    }

    .App-createAccButton {
      padding: 10px 80px;
      display: flex;
      margin-left: 675px ;
      margin-top: 10px;
      
    }

    .Register-createAccButton {
      padding: 10px 58px;
      display: flex;
      margin-left: 675px ;
      margin-top: 300px;
      width: 174px;
      
    }

    .Register-backButton {
      display: flex;
      position: relative;
      padding: 10px 71px;
      margin-left: 675px ;
      margin-top: 10px;
    }

    .container {
      position: relative;
    }

    .username-field {
      position: absolute;
      top: 210px; 
      left: 675px; 
      width: 166px; 
      height: 30px; 
    }

    .password-field {
      position: absolute;
      top: 255px; 
      left: 675px; 
      width: 166px; 
      height: 30px; 
    }

    .register-header {
      position: absolute;
      top: 100px; 
      left: 675px; 
      font-size: 46px;
      font-family: Arial, sans-serif;
    }

    

    


  
  
